body {
    font-family: 'Montserrat', sans-serif;
    color: #72727E;
    font-size: 18px;
    background: #FFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body button:active {
    box-shadow: 0px 2px 10px #ccc;
}

img,
iframe {
    max-width: 100%;
    height: auto;
}

a,
button {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-content {
    text-align: center;
    padding: 20px 15px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

#navBtn {
    border: none;
    background: none;
    box-shadow: none;
}

.nav-content {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.nav-content li {
    padding: 10px;
}

.nav-content a:hover {
    border-bottom: 1px solid #000;
}

.access-btn {
    display: none;
    font-weight: 500;
    font-size: 16px;
    color: #446DF6;
    border: 2px solid #E5E5E5;
    border-radius: 6px;
    background: none;
    padding: 13px;
}

.main {
    background-image: url(../images/pic.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    text-align: center;
    min-height: 600px;
}


.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #141B41;
    padding: 10% 0 0 0;
    max-width: 620px;
    margin: auto;
    margin-bottom: 25px;
}

.main-content p {
    font-weight: 400;
    font-size: 16px;
    max-width: 254px;
    line-height: 140%;
    padding: 0;
    margin: auto;
    margin-bottom: 25px;
}

.main-content button {
    border: none;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFF;
    background: #446DF6;
    border-radius: 6px;
}

.fast-start {
    background-image: url(../images/Group\ 34.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
    padding-bottom: 660px;
}

.fast-content {
    display: flex;
    justify-content: end;
}

.boxes {
    flex-basis: 100%;
    margin-top: 65px;
    text-align: center;
}

.fast-content-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    color: #141B41;
}

.boxes h3 {
    font-weight: 600;
    margin: 0;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 135%;
    color: #141B41;
}

.boxes span {
    display: inline-block;
    max-width: 440px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #72727E;
}

.additional-services {
    margin: auto;
}

.badge {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F8FD;
    border-radius: 6px;
    margin: 20px auto;
}

.partnership {
    text-align: center;
    margin-top: 8%;
}

.partnership h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #141B41;
    margin: 0 0 22px 0;
}

.partnership p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    max-width: 841px;
    display: block;
    margin: auto;
}

.columns {
    text-align: center;
    font-size: 14px;
}

.column {
    margin-top: 40px;
    width: 100%;
    box-shadow: 0px 16px 20px rgba(20, 27, 65, 0.03);
    border-radius: 10px;
    padding-bottom: 33px;
}

.column .badge {
    margin: 20px auto;
}

.partnership button {
    background: #446DF6;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    padding: 14px;
    line-height: 140%;
    color: #EEEEEE;
    border: none;
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 136px;
}

.form-block {
    background-color: #446DF6;
    background-image: url(../images/Rectangle\ 8.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 0;
}

.form-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.form-content h4 {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
}

.form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-block {
    flex-basis: 100%;
    margin: 40px 0 20px 0;
}

.input-block span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: block;
}

.input {
    width: 100%;
    height: 48px;
    padding-left: 20px;
    border: 2px solid #E5E5E5;
}

.input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
    color: #AAAAAA;
}

.form button {
    flex-basis: 100%;
    padding: 14px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #446DF6;
    background: #FFFF;
    border: 2px solid #E5E5E5;
    border-radius: 6px;
}

.app-content {
    margin-top: 18%;
    background: #446DF6;
    display: flex;
}

.one-block {
    text-align: center;
    max-width: 420px;
    margin: 40px auto;
}

.app-content h5 {
    margin: 0 0 25px 0;
    font-weight: 300;
    font-size: 21px;
    line-height: 115%;
    color: #F7F8FD;
}

.app-content p {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #E9ECF5;
}

.link-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-block a {
    display: block;
    margin: 5px;
}

.image-block {
    display: none;
    flex-basis: 50%;
    margin-top: -10%;
}


.image {
    display: block;
    height: 100%;
}

.reviews {
    margin: 10% 0 7% 0;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 4% 0 0 0;
}

.reviews-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #141B41;
    text-align: center;
}

.human {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.image-human img {
    display: block;
    border-radius: 50%;
}

.name-human {
    margin: 20px 20px;
}

.human h6 {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 10px 0;
    line-height: 140%;
    color: #141B41;
}

.testimonial-content {
    font-size: 14px;
    max-width: 710px;
    line-height: 140%;
}

.footer {
    background: #141B41;
    padding: 40px 0;
}

.footer-content {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}